
@font-face{
    font-family: 'Montserrat';
    src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face{
    font-family: 'Montserrat-Medium';
    src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face{
    font-family: 'Montserrat-Regular';
    src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face{
    font-family: 'Montserrat-Light';
    src: url("/fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face{
  font-family: 'Montserrat-SemiBold';
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face{
    font-family: 'PlayfairDisplay-Bold';
    src: url("/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
}
@font-face{
    font-family: 'PlayfairDisplay-Medium';
    src: url("/fonts/PlayfairDisplay-Medium.ttf") format("truetype");
}
@font-face{
    font-family: 'PlayfairDisplay-Regular';
    src: url("/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

:root {
  --main-color-text: #FFFEFE;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ul[class],
ol[class] {
  padding: 0;
} */
body,h1,h2,h3,h4,p,ul[class],ol[class],li,
figure,figcaption,blockquote,dl,dd {
  margin: 0;
}

/* body {
    min-height: 100vh;
    scroll-behavior: smooth;
    line-height: 1.5;
  } */

/* ul[class],
ol[class] {
  list-style: none;
} */

/* img {
    max-width: 100%;
    display: block;
} */
/* input,
button,
textarea,
select {
  font: inherit;
} */
button {
  padding: 0;
  border: none;
  color: inherit; 
  background-color: transparent;
  cursor: pointer;
}
a{
  text-decoration: none;
}

body {
  margin: 0;
}
/* .container {
   width: 1920px;
   margin: 0 auto;
   
} */

header {
  position: relative;
  background: url(/images/imgBackground.jpg) no-repeat;
  width: 1920px;
  height: 970px;
  margin: 0 auto;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  
}

.logo{
  margin-top: 40px;
  margin-left: 120px;
  width: 350px;
  
}
.href-menu {
  margin-top: 45px;
  width: 350px; 
}
.href-menu a {
  font-size: 15px;
  font-family: 'Montserrat-Medium';
  color: var(--main-color-text);
}
.href-menu a + a{
  margin-left: 25px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  width: 350px;
  margin-top: 45px;
  margin-right: 120px;
  color: var(--main-color-text); 
}
.icon-wrapper{
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.menu-icon{
  position: relative;
  width: 30px;
  height: 5px;
  background-color: white;
}
.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  background-color: white;
  transition:  transform 0.2s ease-in, top 0.2s linear 0.2s;
}
.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  background-color: white;
  transition:  transform 0.2s ease-in, top 0.2s linear 0.2s;
  
}
.menu-icon.menu-icon-active{
  background-color: transparent;
}
.menu-icon.menu-icon-active::before{
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
.menu-icon.menu-icon-active::after{
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

 hgroup{
   width: 688px;
   height: 329px;
   margin-left: 120px;
   margin-top: 140px;
   color: var(--main-color-text);
   

 }
 hgroup h1 {
  font-size: 70px;
  line-height: 100px;
  font-family: 'PlayfairDisplay-Bold';
 }
 hgroup h2 {
  width: 486px;
  height: 94px;
  margin-top: 35px;
  line-height: 50px;
  font-family: 'Montserrat-Light';
  font-size: 25px;
 }


.play-and-btn {
  display: inline-flex;
  margin-left: 120px;
  margin-top: 70px;
}

.btn-sub-applic{
    outline:none;
    width: 307px;
    height: 75px;
    background-color: #EFC42B;
    font: 20px 'Montserrat-SemiBold';
    border-radius: 38px;
    transition: all 0.1s linear;
}

.logo-play img{
  cursor: pointer;
  margin-left: 60px;
}

.play-and-btn p{
  width: 110px;
  margin-top: 10px;
  margin-left: 15px;
  font: 16px 'Montserrat-Medium';
  color: #A2A9B7 ;

}

.img-island {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    

}
header .social-net {  
  position: absolute; 
  bottom: 70px;
  left: 120px;
  color: wheat;
  
 
}

header .social-net a{
  display: inline-block;
  margin-left: 0px;
  margin-right: 50px;

}
header .social-net small{
    display: block;
    font: 14px 'Montserrat-Regular';
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: #FFFFFF;
}

.img-island-three{
  margin-right: 120px;
}
.img-block {
  position: relative;
  margin-bottom: 70px;
}
.img-cursor{
  cursor: pointer;
}
 figure + figure{
  margin-left: 30px;
}
.img-block img {
  border-radius: 16px;
}
.num-img{
  position: absolute;
  top: 16px;
  left: 16px;
  color: var(--main-color-text);
  font: 25px 'Montserrat-Medium';
}
.text-img {
  position: absolute;
  width: 140px;
  height: 50px;
  bottom: 24px;
  left: 26px;
  font: 18px 'Montserrat-Regular';
  line-height: 25px;
  color: var(--main-color-text);   
}
.arrow-img {
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-size: 30px;
  color: var(--main-color-text);
}

body menu {
  position: fixed;
  width: 25%;
  height: 300px;
  background-color: #000;
  opacity: .9;
  left: 0;
  top: 0;
  margin: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%)
}
body menu li{
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 40px;
}

body menu li a{
  font: 1.5em Montserrat-Medium;
  color: var(--main-color-text);

}
.close-btn{
  align-self: start;
  margin-top: 10px;
  color: var(--main-color-text);
}

#all-tours{
  display: flex;
  justify-content: space-between;
  margin: 160px 262px;
 
}

.img-hawaii{
  margin-bottom: 0;
}

.img-hawaii img {
  width: 827px;
  height: 473px;
}

.img-hawaii .num-img{
  margin-top: 35px;
  margin-left: 40px;
  font-size: 23px;
}

.img-hawaii span{
  font-size: 16px;
}

.img-hawaii .text-img{
  width: 219px;
  height: 56px;
  margin-bottom: 28px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 30px;
}
.img-hawaii .arrow-img{
  margin-bottom: 18px;
  margin-right: 40px;
}

.see-all{
  margin-top: 40px;
  margin-bottom: 25px;
  width: 405px;
  height: 411px;  
}
.see-all h2{
    font: 42px  'PlayfairDisplay-Bold';
}
.see-all p{
  margin-top: 30px;
  font: 18px 'Montserrat-Regular';
  line-height: 33px;
}
.btn-see-all, .btn-read{
  outline:none;
  width: 270px;
  height: 75px;
  margin-top: 60px;
  color: #EFC42B; 
  font: 20px 'Montserrat-SemiBold';
  border-radius: 38px;
  border: 2px solid #EFC42B;
}

.img-form{
  position: relative;
}

.order-and-form{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 690px;
  height: 321px;
  /* border: 1px solid red;  */
  top: 128px;
  right: 386px;
}

.order-text h2{
 font: 42px 'PlayfairDisplay-Bold';
 line-height: 55px;
}

.order-text p {
  margin-top: 25px;
  font: 18px 'Montserrat-Regular';
  line-height: 33px;
}

.order-and-form form{
  width: 270px;
  height: 321px;
  /* border: 1px solid red;  */
}
.order-and-form #form2-name,
.order-and-form #form2-phone{
  width: 270px;
  height: 74px;
  border-radius: 38px;
  border: 1px solid #C7D8E2;
  font: 20px 'Montserrat-Medium';
  text-align: center;
}
input + input{
  margin-top: 20px;
}
.form-btn{
  outline:none;
  width: 270px;
  height: 75px; 
  margin-top: 30px;          
  background-color: #EFC42B;
  border-radius: 38px;
  font: 20px 'Montserrat-SemiBold';
  transition: all 0.1s linear;
}
#form2 small{
  text-align: justify;
  font: 11px 'Montserrat-Regular';
}

.img-feed{
  position: relative;
  margin-left: 50px;
}

.rew-img, .rew-text-img, .rew-arrow-img {
  position: absolute;
}

.rew-img{
  top: 52px;
  left: 62px;
  font: 23px 'PlayfairDisplay-Bold';
  line-height: 28px;
  color: white;
}
.rew-img span{
  font: 16px 'Montserrat-Regular';
}
.rew-text-img {
  bottom: 45px;
  left: 60px;
  font: 20px 'Montserrat-Medium';
  line-height: 28px;
  color: white;
}
.rew-arrow-img {
  bottom: 18px;
  right: 40px;
  font-size: 40px;
  color: white;   
}

#reviews{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: 169px;
  
}
.img-feed img{
  border-radius: 16px;
}
.review-text{
  margin-right: 50px;
}
.review-text h2 {
  width: 461px;
  height: 110px;
  font: 42px 'PlayfairDisplay-Bold';
  line-height: 55px;
}
.review-text p{
  width: 350px;
  height: 146px;
  margin-top: 30px;
  font: 18px 'Montserrat-Regular';
  line-height: 33px;
} 

.footer{
  display: flex;
  flex-direction: row;
  height: 180px;
  background-color: #ECEEF2;
  margin-top: 160px;
}
.social-net-footer{
  
}
.footer .logo {
  margin-top: 80px;
  margin-left: 120px;
  width: auto;

}

.footer-text-one, .footer-text-two {
  margin-top: 75px;
  font: 14px 'Montserrat-Medium';
  line-height: 20px;
  
}
.footer-text-one {
  margin-left: 123px; 
}
.footer-text-two {
  margin-left: 47px;
}
.social-net{
  display: flex;
  width: 185px;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 75px;
  color: #8194A1;
}

.social-net-footer{
  margin-left: 780px;
}

.btn-sub-applic:hover{
  background-color: rgb(253, 235, 74);
  transition: all 0.1s linear;
}
.form-btn:hover{
  background-color: rgb(253, 235, 74);
  transition: all 0.1s linear;
}
.btn-sub-applic:active{
  
}


