@font-face{
    font-family: 'Montserrat';
    src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face{
    font-family: 'Montserrat-Medium';
    src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face{
    font-family: 'Montserrat-Regular';
    src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face{
    font-family: 'Montserrat-Light';
    src: url("/fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face{
    font-family: 'PlayfairDisplay-Bold';
    src: url("/fonts/PlayfairDisplay-Bold.ttf") format("truetype");
}
@font-face{
    font-family: 'PlayfairDisplay-Medium';
    src: url("/fonts/PlayfairDisplay-Medium.ttf") format("truetype");
}
@font-face{
    font-family: 'PlayfairDisplay-Regular';
    src: url("/fonts/PlayfairDisplay-Regular.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    margin: 0; 
    border: 1px solid red;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 110vh;
    min-height: 600px;
    background: url(/images/imgBackground.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.logo{
  margin: 20px 0;
}
.href-menu{
    width: 25%;
    margin-right: 9rem;
}
.href-menu ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
   
}
.href-menu a {
    text-decoration: none;
    color: #fff;
    font: 15px 'Montserrat-Medium';  
}
.menu{
    width: 30px;
    height: 30px;
   
}




.icon-wrapper{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .menu-icon{
    position: relative;
    width: 30px;
    height: 5px;
    background-color: white;
  }
  .menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    background-color: white;
    transition:  transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  .menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    display: block;
    width: 30px;
    height: 5px;
    background-color: white;
    transition:  transform 0.2s ease-in, top 0.2s linear 0.2s;
    
  }
  .menu-icon.menu-icon-active{
    background-color: transparent;
  }
  .menu-icon.menu-icon-active::before{
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  .menu-icon.menu-icon-active::after{
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }




  
  hgroup{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%; 
  }
  hgroup h1 {
    margin: 0;
    margin-top: 5rem;
    font: 5rem 'PlayfairDisplay-Bold';
    line-height: 6rem;
  
   }
   hgroup h2 {
    margin-top: 2.8rem;
    margin-bottom: 0;
    line-height: 3.1rem;
    font-family: 'Montserrat-Light';
    line-height: 2.8rem;
    font-size: 1.5rem;
   }






 .play-and-btn{
   display: flex;
   margin-top: 3rem;
   flex-direction:row;
   align-items: flex-start;
   width: 90%; 
 }
 
.btn-sub-applic{
  outline:none;
  width: 307px;
  height: 75px;
  background-color: #EFC42B;
  font: 20px 'Montserrat-SemiBold';
  border-radius: 38px;
  transition: all 0.1s linear;
}

.logo-play img{
  cursor: pointer;
  margin-left: 3.7rem;
}

.play-and-btn p{
  width: 110px;
  margin-top: 0.6rem;
  margin-left: 1rem;
  font: 1rem 'Montserrat-Medium';
  color: #A2A9B7 ;
}





.img-social-net{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin-top: 70px;
  
}

.img-social-net .social-net{
 display: flex;
 flex-direction: column;
 margin-top: 9.3rem;
 margin-left: 0.2rem;

}

.img-social-net .social-net a + a {
  margin-left: 2.6rem;
}
.social-net small{
  font: 14px "Montserrat-Regular";
}






.img-island{
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

.img-block {
  position: relative; 
}

p{
  margin: 0;
}
.img-cursor{
  cursor: pointer;
}
figure{
  margin: 0;
  margin-bottom: 3.8rem;
}

.img-island figure + figure{
  margin-left: 30px;

  
}
.img-block img {
  border-radius: 1rem;
  
}
.num-img{
  position: absolute;
  top: 16px;
  left: 26px;
  color: white;
  font: 25px 'Montserrat-Medium';
  
}
.text-img {
  position: absolute;
  width: 140px;
  height: 50px;
  bottom: 24px;
  left: 26px;
  font: 18px 'Montserrat-Regular';
  line-height: 25px;
  color: white;  
  
   
}
.arrow-img {
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-size: 30px;
  color: white;
  
}



.main-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.all-tours-class{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 9rem;
  border: 1px solid red;
} 

section figure{
  margin: 0;
} 
.img-hawaii img, .img-feed img{
  border-radius: 16px;
}

.img-hawaii, .img-feed {
  position: relative;
}
.tours-num-img, .rew-img{
  position: absolute;
  top: 16px;
  left: 26px;
  color: white;
  font: 25px 'Montserrat-Medium';
  
}
.tours-text-img, .rew-text-img {
  position: absolute;
  width: 260px;
  height: 60px;
  bottom: 24px;
  left: 26px;
  font: 18px 'Montserrat-Regular';
  line-height: 25px;
  color: white;  
   
}

.tours-arrow-img, .rew-arrow-img {
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-size: 30px;
  color: white;
}





.see-all h2{
  font: 2.5rem  'PlayfairDisplay-Bold';
  width: 100%;

}
.see-all p{
  margin-top: 1.9rem;
  font: 18px 'Montserrat-Regular';
  line-height: 2rem;
  width: 100%;
}
.see-all{
  margin-left: 7.5rem;
}

.btn-see-all, .btn-read{
  outline:none;
  width: 16rem;
  height: 4.6rem;
  margin-top: 60px;
  color: #EFC42B; 
  font: 1.25rem 'Montserrat-SemiBold';
  border-radius: 2.37rem;
  border: 2px solid #EFC42B;
}




.contacts-class{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  height: 50vh;
  border: 1px solid red;
  background: url(/images/imgForm.jpg) no-repeat center 100%;
  background-size: cover;
}
.order-and-form{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.order-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
}

.order-text h2{
  font: 42px 'PlayfairDisplay-Bold';
  line-height: 55px;
 }
 
 .order-text p {
   margin-top: 25px;
   font: 18px 'Montserrat-Regular';
   line-height: 33px;
 }




.order-and-form form{
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  margin-left: 4rem;
}
.order-and-form #form2-name,
.order-and-form #form2-phone{
  width: 270px;
  height: 74px;
  border-radius: 38px;
  border: 1px solid #C7D8E2;
  font: 20px 'Montserrat-Medium';
  text-align: center;
}
input + input{
  margin-top: 20px;
}
.form-btn{
  outline:none;
  width: 270px;
  height: 75px; 
  margin-top: 30px;          
  background-color: #EFC42B;
  border-radius: 38px;
  font: 20px 'Montserrat-SemiBold';
  transition: all 0.1s linear;
}
#form2 small{
  align-self: center;
  margin-top: 0.8rem;
  
  font: 11px 'Montserrat-Regular';
}






.reviews-class{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 9rem;  
  border: 1px solid red;
} 

.review-text{
  margin-right: 2.5rem;
}
.review-text h2{
  font: 2.6rem 'PlayfairDisplay-Bold';
  line-height: 55px;
  width: 100%;

}
.review-text p{
  margin-top: 1.9rem;
  font: 1.1rem 'Montserrat-Regular';
  line-height: 2rem;
  width: 100%;
}





footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid red;
  width: 100%;
  height: 11rem;
  background-color: #ECEEF2;
}
.footer-text-one, .footer-text-two {
  font: 14px 'Montserrat-Medium';
  line-height: 20px;
  
}
footer .social-net{
  display: flex;
  width: 11rem;
  flex-direction: row;
  justify-content: space-between;
  color: #8194A1;
}




